<div class="container">
    <h1 class="page-title">Login/Register on Traveler</h1>
</div>

<div class="gap"></div>

<div class="container">
    <div class="row" data-gutter="60">
        <div class="col-md-4">
            <h3>Welcome to Traveler</h3>
            <p>Euismod nunc porta magna elementum penatibus amet gravida sit ligula odio id nunc proin sem augue quis posuere interdum in sapien congue rutrum scelerisque sociosqu cubilia ridiculus et luctus mollis</p>
            <p>Praesent est semper massa lobortis quisque lectus ridiculus hac eget</p>
        </div>
        <div class="col-md-4">
            <h3>Login</h3>
            @Html.Partial("_Login")
        </div>
        <div class="col-md-4">
            <h3>New To Traveler?</h3>
            @Html.Partial("_Register")
        </div>
    </div>
</div>

<div class="gap"></div>