@model object

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    @Html.DropDownListFor(m => m, ViewData["data"] as IEnumerable<SelectListItem>, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model, null, new { @class = "text-danger" })
</div>
