@model string

<div class="form-group">
    @Html.LabelFor(m => m, new { @class = "control-label" })
    @Html.TextAreaFor(m => m, new { @class = "form-control", placeholder = ViewData.ModelMetadata.DisplayName })
    @Html.ValidationMessageFor(model => model, null, new { @class = "text-danger" })
</div>