@*@{
        ViewBag.Title = "Error404";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@*@section PageStyles{
        <link href="~/assets/pages/css/error.min.css" rel="stylesheet" type="text/css">
    }*@

<div class="page-content">
    <div class="col-md-12 page-404">
        <div class="number font-red"> 401 </div>
        <div class="details">
            <h3>Oops! Bad Request.</h3>
            <p>
                You are not authorized to view the content of the page.
            </p>

            @Html.Partial("_Redirect")
        </div>
    </div>
</div>