@*@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@

@*@section PageStyles{
    <link href="~/assets/pages/css/error.min.css" rel="stylesheet" type="text/css">
}*@

<div class="page-content">
    <div class="col-md-12 page-404">
        <div class="number font-red"> 404 </div>
        <div class="details">
            <h3>Oops! You're lost.</h3>
            <p>
                We can not find the page you're looking for.
            </p>

            @Html.Partial("_Redirect")
        </div>
    </div>
</div>