@*@{
        ViewBag.Title = "Error404";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@

@*@section PageStyles{
        <link href="~/assets/pages/css/error.min.css" rel="stylesheet" type="text/css">
    }*@

<div class="page-content">
    <div class="col-md-12 page-404">
        <div class="number font-red"> 400 </div>
        <div class="details">
            <h3>Oops! Bad Request.</h3>
            <p>
                The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, too large size, invalid request message framing, or deceptive request routing).
            </p>

            @Html.Partial("_Redirect")
        </div>
    </div>
</div>