@*@{
    ViewBag.Title = "UnhandledError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section PageStyles{
    <link href="~/assets/pages/css/error.min.css" rel="stylesheet" type="text/css">
}*@

<div class="page-content">
    <div class="col-md-12 page-404">
        <div class="number font-green"> Unhandled Error </div>
        <div class="details">
            <h3>Oops! Something bad happened.</h3>
            @Html.Partial("_Redirect")
        </div>
    </div>
</div>

